<div class="main">
  <div class="main-header">个人信息管理系统</div>
  <div class="main-body">
    <div class="main-left">
      <ul class="menu" id="menu" >
        <li><a routerLink="/home"  id="L1" class="choice open-close-container" routerLinkActive="activeRoute" (click)="onClickChooseMenu($event)">主页</a></li>
        <li><a routerLink="/list"  id="L2" class="choice" routerLinkActive="activeRoute" (click)="onClickChooseMenu($event)">个人信息</a></li>
        <li [ngClass]="{'practice-menu': practiceStatus}"><a routerLink="/practice" id="L3"  class="choice" routerLinkActive="activeRoute" (click)="onClickChooseMenu($event)">练习</a>
          <ul class="second-menu" >
            <li><a routerLink="/practice/amount-convert"  id="L4" class="choice" routerLinkActive="activeRoute">管道应用</a></li>
            <li><a routerLink="/practice/moods" id="L5" class="choice" routerLinkActive="activeRoute">服务应用</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="main-right">
      <router-outlet></router-outlet>
    </div>
  </div>
<!--  <div class="alert-contain" #cancelBtn>-->
    <!-- <div class="alert" [@openClose]="isOpen ? 'open' : 'closed'" #cancelBtn>
      <div class="alert-header">
        <span>提示</span>
        <button class="cancel-tip-btn" (click)="userService.onUnCancelBtnClick()">x</button>
      </div>
      <div class="alert-body">
        <div class="alert-text">操作未保存，是否放弃？</div>
        <div class="alert-btn">
          <button class="btn-primary" (click)="userService.onSureCancelBtnClick()">确定</button>
          <button class="btn-cancel" (click)="userService.onUnCancelBtnClick()">取消</button>
        </div>
      </div>
    </div> -->
<!--  </div>-->
</div>
