.main{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.main-header {
  height: 100px;
  background-color:#45c8dc;
  text-align: center;
  font-size: 36px;
  color: #ffffff;
  line-height: 100px;
  width: 100%;
  //border: 1px solid black;
}

.main-body{
  display: flex;
  justify-content: flex-start;
  height: calc(100% - 100px);
  width: 100%;
  //border: 1px solid green;
}

.main-left{
  width: 10%;
  height: 100%;
  // border: 1px solid red;
  text-align: center;
  background-color: #3b4966;
}

.main-right{
  width:90%;
  height:100%;
  //border:1px solid red;
}

ul {
  list-style-type: none;
  background-color:#3b4966;
  overflow: hidden;
  height: 100%;
  //border: 1px solid red;
}

#menu>li>a {
  //border: 1px solid black;
  display: block;
  color: #ffffff;
  padding: 16px 0px;
  text-decoration: none;
  font-size: 18px;
}

li a.active {
  color: white;
}

li a:hover:not(.active) {
  color:#40a9ff;
}

.alert-contain{
 z-index: 1;
 position: absolute;
 opacity: 2;
 display: none;
 width: 100%;
 height: 100%;
 top: 0px;
 left: 0px;
}

.alert{
  margin: 10px 10px;
  position: absolute;
  top: 300px;
  left: 800px;
  width: 300px;
  height: 180px;
  border: 5px solid #f1efef;
  background-color: #ffffff;
  border-radius: 7px;
  display: none;
}

.alert-header{
  display: flex;
  justify-content: space-between;
  background-color: #45c8dc;
  color: #ffffff;
}

.alert-text{
  text-align: center;
  height: 40px;
  line-height: 40px;
  margin: 30px 0px;
}

.cancel-tip-btn{
  background-color:#45c8dc;
  border: 1px solid #45c8dc;
  color: #ffffff;
  font-size: 10px;
}

.alert-btn{
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin-left: 50px;
}

.activeRoute{
  color: #40a9ff !important;
}

.second-menu{
  //border: 1px solid white;
  font-size: 14px !important;
}

.second-menu>li{
  padding-bottom: 10px;
}

.second-menu>li>a{
  margin-bottom: 30px;
  text-decoration: none;
  color: white;
}
//.hiddenInit{
//  display: none;
//}
.practice-menu{
  display: none;
}

