.add{
  // border: 1px solid red;
  position: absolute;
  // display: flex;
  // justify-content: flex-end;
  right: 0px;
}
.table{
  // border: 1px solid red;
  position: absolute;
  top: 200px;
  left: 650px;
}
table{
  border-collapse:collapse;
}
tr,th,td{
  border: 1px solid black;
  width: 150px;
  text-align: center;
}