//.box{
//  overflow: auto;
//}

.return-box{
  //border: 1px solid blue;
  text-align: left;
  padding-left: 10px;
  padding-top: 10px;
}

.list{
  //border: 1px solid blue;
  margin-top: 80px;
  margin-left: 120px;
  width: 800px;

table{
  border-collapse:collapse;
  height: 300px;
}

td{
  border: 1px solid #e8e8e8;
  padding: 10px 10px;
  width: 300px;
  height: 30px;
  text-align: left;
}

th{
  width: 100px;
  text-align: right;
  border: 1px solid #e8e8e8;
  background: #fafbfe!important;
  color: #272727;
}


  //border: 1px solid #ba1c1c;
}

.btn-edit{
  margin-top: 40px;
  margin-left: 200px;
}
