// .box {
//   width: 400px;
//   margin: 0px auto;
//   padding: 30px 0px;

//   li {
//     margin: 30px 0px;
//     width: 600px;
//     height: 20px;
//   }

//   .btn {
//     display: flex;
//     justify-content: space-between;
//     padding: 60px 100px;
//   }
// }

// label:first-child {
//   display: inline-block;
//   text-align: right;
//   width: 80px;
//   padding-right: 18px;
//   vertical-align: middle;

//   &::before {
//     content: "*";
//     color: #ff0000;
//     font-size: 25px;
//     position: relative;
//     top: 10px;
//   }
// }

// #address::before {
//   content: "";
// }

// .address {
//   height: 80px;
//   width: 147px;
//   vertical-align: middle;
// }

// input {
//   height: 30px;
//   vertical-align: middle;
// }

// i {
//   color: red;
// }


// div{
//   border: 1px solid red;
// }
.box{
  // border: 1px solid red;
  width: 300px;
  margin: 39px auto;
}
.form-group{
  margin: 15px 0px;
}
.header{
  display: inline-block;
  text-align: right;
  width: 80px;
  vertical-align: middle;
  margin-right: 15px;
  // border:1px solid red ;
}
.essential::before {
  content: "*";
  color: #ff0000;
  font-size: 25px;
  position: relative;
  top: 10px;
}

input{
  height: 28px;
  vertical-align: bottom;
  // vertical-align: middle;
  font-size: 15px;
}
textarea{
  vertical-align: middle;
  width:180px;
  height: 80px;
}

.alert{
  margin-left: 100px;
  color: red;
}
.btn{
  display: flex;
  width: 200px;
  margin: 10px auto;
  justify-content: space-between;
}
.sex-radio{
  display: inline;
}