.box {
  width: 400px;
  margin: 0px auto;
  padding: 30px 0px;

  li {
    margin: 30px 0px;
    width: 600px;
    height: 20px;
  }

  .btn {
    display: flex;
    justify-content: space-between;
    padding: 60px 100px;
  }
}

label:first-child {
  display: inline-block;
  text-align: right;
  width: 80px;
  padding-right: 18px;
  vertical-align: middle;

  &::before {
    content: "*";
    color: #ff0000;
    font-size: 25px;
    position: relative;
    top: 10px;
  }
}

#address::before {
  content: "";
}

.address {
  height: 80px;
  width: 147px;
  vertical-align: middle;
}

input {
  height: 30px;
  vertical-align: middle;
}

i {
  color: red;
}
