.box{
  //border: 1px solid red;
  height: 100%;
  width: 100%;
  position: relative;
  background-color: red;
}

//.text{
//  // border: 1px solid rgb(41, 27, 27);
//  position: absolute;
//  color: #646c8b;
//  top: 300px;
//  left: 700px;
//  font-size: 200px;
//  font-family: Monospace;
//}

img{
  display: block;
  position: absolute;
  top: 0px;
  //width: 1720px;
  max-width: 100%;
  max-height: 100%;
  z-index: -1;
}
