@height:800px;
.main-layout{
  border: 1px solid black;
  height: @height;
  position: relative;
}

.text{
  // border: 1px solid rgb(41, 27, 27);
  position: absolute;
  color: #646c8b;
  top: 300px;
  left: 700px;
  font-size: 200px;
  font-family: Monospace;
}

img{
  position: absolute;
  top: 0px;
  width: 1720px;
  height: 900px;
  z-index: -1;
}
