<div class="list" *ngIf="isExist()">
  <div class="container">
    <table class="table">
      <tr>
        <th>姓名：</th>
        <td>{{obj.name}}</td>
      </tr>
      <tr>
        <th>年龄：</th>
        <td>{{obj.age}}</td>
      </tr>
      <tr>
        <th>性别：</th>
        <td>{{obj.sex}}</td>
      </tr>
      <tr>
        <th>手机号：</th>
        <td>{{obj.tel}}</td>
      </tr>
      <tr>
        <th>家庭住址：</th>
        <td>{{obj.address}}</td>
      </tr>
    </table>
    <button routerLink="/edit">编辑</button>
  </div>
</div>
<div class="no-list" *ngIf="!isExist()">
  暂无个人信息，<a href="#" routerLink="/edit">点击</a>前往添加
</div>
