.return{
  position: relative;
  left: 0px;
}

table{
  border-collapse:collapse;
}

td{
  border: 1px solid #333;
  padding: 10px 0px 10px 5px;
  width: 200px;
  height: 30px;
}
th{
  width: 100px;
  text-align: right;
  border: 1px solid #333;
}
.list{
  //border: 1px solid black;
  margin-top: 100px;
}
.container{
  //border: 1px solid black;
  padding: 5px;
  width: 315px;
  margin: auto;
  color: #333;
}
.editbtn{
  margin-top: 20px;
  margin-left: 120px;
}
