.list{
    width: 400px;
    margin: 0px auto;
    padding:30px 10px;

    li{
        margin:30px 0px;
        width: 300px;
        height: 20px;
    }

    button{
        position: relative;
        left: 160px;
        top: 30px;
    }
}
.nolist{
    width: 300px;
    margin: 250px auto;
    padding-left:90px;
}
textarea{
    width: 167px;
    vertical-align: middle;
    height: 50px;
}
label:first-child{
    display: inline-block;
    text-align: right;
    width: 80px;
    padding-right:18px;
}

input{
    height: 30px;
    vertical-align: middle;
}